@import "../../global.scss";

.admin {
  justify-content: center;
  display: flex;
  position: absolute;
  z-index: 5;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  height: 20vh;
  left: 30%;
  top: 30%;
  align-items: center;
  background-color: $mainColor;
  color: black;
  border-radius: 10px;
  width: 40%;
  height: 30%;
}
