@import "../../global.scss";

.portfolioList {
  font-size: 15px;
  margin-right: 30px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;

  &.active {
    background-color: $mainColor;
  }
}
